{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>mScripter</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="mScripter" content="" />
  <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
  <link href="{% static 'css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" />
  <link rel='shortcut icon' href="/static/img/logo3.png" type="image/ico"/>
  <link rel="icon" href="/static/img/logo3.png" type="image/x-icon">
    {#  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">#}
  <link rel="stylesheet" href="{% static 'css/newTheme/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/newTheme/font-awesome.css' %}" />
  <link rel="stylesheet" href="{% static 'css/newTheme/custom.css' %}" />

</head>
{% block content %}
{% endblock content %}
<script src="{% static 'js/all.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'js/jquery-3.4.1.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/Chart.min.js' %}"></script>
<script src="{% static 'js/datatables-demo.js' %}"></script>
</body>
</html>