{% extends "base.html" %}
{% block content %}

<body class="sb-nav-fixed" style="background-color: #f6fbf8;">
    <div id="layoutSidenav">
        {% include "navHeader.html" %}
        {% if user.is_authenticated %}
        {% include "navSideBar.html" %}
        {% endif %}
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <h2 class="mt-4"></h2>
                </div>
            </main>
        </div>
    </div>
{% endblock %}